* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 1280px;
  min-height: 680px;
}

@media (max-width: 425px) {
  nav {
    min-width: 390px;
    justify-content: center;
    height: 8vh;
  }

  nav .entrega,
  nav .input,
  nav .icons {
    display: none;
  }

  main {
    min-width: 400px;
    min-height: 0px;
    flex-direction: column;
    height: auto;
  }
}
