.main__section {
  border: 2px solid #9c9999;
  padding: 30px;
  border-radius: 4px;
  height: 39.5rem;
  width: 17.8vw;
  min-height: 602px;
  min-width: 440px;
}

.main__section div {
  width: 375px;
}

.main__section .totalize__ingredient__options {
  border-bottom: 1px solid #f09035;
  width: 100%;
  height: 88px;
  margin-bottom: 10px;
  padding: 8px 12px;
}

.main__section .totalize__ingredient__options div {
  display: flex;
  width: 100%;
  justify-content: end;
}

.main__section .totalize__ingredient__options div div {
  width: 89px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #f09035;
  justify-content: space-evenly;
  align-items: center;
}

.main__section
  .totalize__ingredient__options
  .totalize__ingredient__subtract
  div
  button {
  font-size: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
  color: #d80000;
}

.main__section div h1 {
  font-size: 14px;
  color: #4e4e4e;
}

.main__section div p {
  color: #f09035;
  font-size: 14px;
}

.main__section .totalize__ingredient {
  background-color: rgba(253, 215, 14, 0.2);
  padding: 8px 12px;
  width: 100%;
  height: 55px;
}

.main__section .section__add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.main__section .section__add div {
  margin: 0px 12px 0px 0px;
  width: 140px;
  height: 40px;
  border: 1px solid #f09035;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__section .section__add .add__btn {
  border: none;
  width: 100%;
}

.main__section .section__add button {
  border: none;
  background-color: #f09035;
  border-radius: 4px;
  color: #fff;
  width: 300px;
  height: 40px;
  margin: 0px;
  cursor: pointer;
  font-size: 14px;
}

.main__section .section__add button div {
  margin: 0;
}

.main__section .section__add .add__btn div button {
  height: 30px;
  border: none;
  background: #fff;
  cursor: pointer;
  color: #d80000;
}

.main__section .section__add .add__elipse {
  display: none;
}

@media (max-width: 425px) {
  .main__section {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    height: 80vh;
  }

  .main__section .section__add {
    flex-direction: column;
    padding: 0 35px;
    height: 22vh;
    justify-content: space-around;
    margin-top: 0;
  }

  .main__section .section__add .add__elipse {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }

  .section__add .add__elipse .elipse__item {
    color: #4e4e4e;
  }

  .add__elipse .elipse__item input[type="radio"] {
    color: #febc10;
    outline: auto;
  }

  .main__section .section__add .add__elipse .elipse__item {
    border: none;
    width: 100%;
    justify-content: space-between;
  }

  .main__section .section__add .add__btn {
    margin: 0;
  }

  .main__section .section__add .add__btn div {
    margin: 0px 10px 0px 0px;
  }

  .main__section .section__add .add__btn button {
    margin: 0px;
  }
}
