#tooltip {
  position: fixed;
  right: 0;
  top: 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  border-radius: 4px;
  display: inline-block;
  animation: toolTip alternate 2.1s;
}

@keyframes toolTip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tooltip.bottom {
  margin-top: 5px;
  width: 205px;
}

#tooltip .tooltip__arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
}

#tooltip.bottom .tooltip__arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #f09035;
}

#tooltip .tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-right-color: transparent;
  border-style: solid;
}

#tooltip .tooltip__label {
  color: #4e4e4e;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  flex-direction: column;
}

#tooltip .tooltip__label h2 {
  background-color: #f09035;
  color: #fff;
  font-size: 15px;
  padding: 6px 10px 0px 10px;
  height: 32px;
}

#tooltip .tooltip__label span {
  color: #bc2e31;
  font-size: 14px;
  font-weight: bold;
}

#tooltip .tooltip__label p {
  font-size: 14px;
}

#tooltip .tooltip__label h2,
#tooltip .tooltip__label span,
#tooltip .tooltip__label p,
#tooltip .tooltip__label div p,
#tooltip .tooltip__label ul {
  width: 100%;
}

#tooltip .tooltip__label span,
#tooltip .tooltip__label p {
  padding: 0px 10px 0px 10px;
}

#tooltip .tooltip__label div p,
#tooltip .tooltip__label ul li {
  font-size: 12px;
  color: #4e4e4e;
}

#tooltip .tooltip__label ul {
  padding: 0px 10px 0px 30px;
}

@media (min-width: 2569px) {
  #tooltip {
    top: 55px;
    left: 100px;
  }
}

@media (min-width: 1440px) {
  #tooltip {
    top: 55px;
  }
}

@media (min-width: 1280px) {
  #tooltip {
    top: 55px;
    right: -50px;
  }
}

@media (min-width: 1024px) {
  #tooltip {
    top: 55px;
    right: -50px;
  }
}

@media (min-width: 768px) {
  #tooltip {
    top: 55px;
  }
}
